/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
}

.pad-top-3rem {
    padding-top: 3rem;
}

.hidden {
    display: none !important;
}

#totalPrice {
    font-size: 2.75em;
    font-weight: bold;
    color: darkblue;
    background-image: url("sebastian.jpg");
    height: 300px;
    width: 1080px;
}

.home {
    background-size: 350px auto;
    background-image: url("Pizza-img.png");
    background-position: right 500px top 380px;
    background-repeat: no-repeat;
}

.order {
    background-size: 350px auto;
    background-image: url("Pizza-img.png");
    background-position: right 10px top 100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}